@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PicNic";
  src: url("/fonts/PicNic-Regular.woff2") format("woff2"),
    url("/fonts/PicNic-Regular.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Typefesse_Claire-Obscure";
  src: url("/fonts/Typefesse_Claire-Obscure.woff2") format("woff2"),
    url("/fonts/Typefesse_Claire-Obscure.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Typefesse_Pleine";
  src: url("/fonts/Typefesse_Pleine.woff2") format("woff2"),
    url("/fonts/Typefesse_Pleine.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

p {
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.4em;
  font-family: "adobe-garamond-pro", Garamond, "Baskerville",
    "Baskerville Old Face", "Hoefler Text", "Times New Roman", Times, sans-serif;
}

h1 {
  font-family: "Typefesse_Claire-Obscure";
  font-size: 0.8em;
}

.video-wrapper {
  position: relative;
  /* padding-bottom: 56.25%; */
  /* height: 0; */
}

.video-wrapper object,
.video-wrapper embed,
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
