@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PicNic';
  src: url('/fonts/PicNic-Regular.woff2') format('woff2'),
    url('/fonts/PicNic-Regular.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

p {
  font-size: 0.8em;
}

h1 {
  font-family: 'PicNic';
  font-size: 0.8em;
}

.video-wrapper {
  position: relative;
  /* padding-bottom: 56.25%; */
  /* height: 0; */
}

.video-wrapper object,
.video-wrapper embed,
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}